---
BasedOnStyle: LLVM
---
Language: Cpp

AccessModifierOffset: -4
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakBeforeTernaryOperators: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
CompactNamespaces: true
EmptyLineBeforeAccessModifier: Always
IndentCaseLabels: true
IndentWidth: 4
IndentAccessModifiers: false
PackConstructorInitializers: NextLine
PointerAlignment: Left
QualifierAlignment: Right
SpaceAfterLogicalNot: true
SpaceAfterTemplateKeyword: true